
body {
  margin: 0;
  background-image: url("../images/city-background-2896x1636.jpg");
  cursor: url(../images/wand-icon.png), auto;
  background-size: cover;
}

.container {
  max-width: 850px;
  margin: 35px auto;
}


.intro {
  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("../images/antique-scroll-backgrounds-wallpapers.jpg");
  background-size: cover;
  z-index: 10;
  align-items: center;
  text-align: center;
  justify-content: center;


}
.intro h1{
  padding-top: 100px;
  font-family: 'Spicy Rice', cursive;
  font-size: 50px;
}
.intro p{
  margin-left: 150px;
  margin-right: 150px;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 20px;
}

#start {
    opacity: 0.7;
    background-color: black;
    color: white;
    border: none;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 45px 25px;
}
.messageContainer {
  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 9;
  display: none;
}

.message {
  background-color: white;
  /* background-image: url("../images/scroll-message.jpg"); */
  border: 1px solid grey;
  padding: 30px;
  text-align: center;
  min-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 45px 25px;
}

.message p {
  font-size: 20px;
  font-family: 'Spicy Rice', cursive;
}



img {
  height: 100px
}

button {
    opacity: 0.7;
    background-color: greenyellow;
    border: none;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 45px 25px;
    cursor: url(../images/wand-icon.png), auto;
}


#buttonDeposit {
  opacity: 0.7;
  background-color: greenyellow;
  border: none;
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 45px 25px;
  cursor: url(../images/wand-icon.png), auto;
}

#inputDeposit {
  opacity: 0.7;
  background-color: greenyellow;
  border: none;
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 45px 25px;
}


header {

  align-items: center;
  background-color: #00808088;
  border-radius: 45px 25px;
}


#title {
  text-align: center;
  padding-top: 15px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 60px;
  margin-bottom: 7px;
  margin-top: 20px;
}

.topScreen {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
}

#characterPic {
  height: 150px;
}


main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 15px;
  font-family: 'New Rocker', cursive;
}


.product {
  align-items: center;
  padding: 10px;

  opacity: 0.8;
  background-color: forestgreen;
  font-size: 16px;
  margin: 15px 10px;
  border-radius: 45px 25px;

}
.product h3{
  text-align: center;
  font-weight: bold;
  margin: 10px;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 20px;
}
.productIcon {
  margin: 0 auto;
  display: block;
}
.product p{
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  font-family: 'New Rocker', cursive;
}
#actionLogTitle {
  font-family: 'Nanum Brush Script', cursive;
}
.actionLog {
  align-items: center;
  height: 275px;
  overflow: scroll;
  border-radius: 45px 25px;
  background-color: #00808088;
  font-family: 'Nanum Brush Script', cursive;
  list-style-type: none;
}


.actionLog ul {
  list-style-type: none;
}
